extends includes/layout

block content
  h1= title
  p= headerTagline
  p= paragraph1Text
  p= paragraph2Text
  br

  // Wrapper
  #wrapper
 
    // DIV ANSWERS
    h2 Survey Answer Num
    div#divAnswers
      div#answerA= answerAText
      div#answerB= answerBText
      div#answerC= answerCText
      div#answerD= answerDText
      button#btnAnswer Submit Answer
    // /DIV ANSWERS

  // /WRAPPER

  footer 
    script(src='/js/jquery2.0.3.min.js')
    script(src='/js/global.js')